{% include 'header.html' %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/contact-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            {% if not msg_sent %}
                                <h1>Contact Me</h1>
                                <span class="subheading">Have questions? I have answers.</span>
                            {% else %}
                                <h1>Message Sent Successfully</h1>
                                <span class="subheading">Have questions? I have answers.</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
                        <div class="col-lg-8 col-md-10 mx-auto">
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * Contact Form * *-->
                            <form method="POST" action="/contact" novalidate>
                                {{ form.csrf_token }}
                                <div>{{ form.name.label }}: </div>
                                <div>{{ form.name(class="css_class") }}
                                    {% for err in form.name.errors %}
                                    <br><span style="color: red; font-size: 80%;">{{ err }}</span>
                                    {% endfor %}
                                </div>
                                <div>{{ form.email.label }}:</div>
                                <div> {{ form.email() }}
                                    {% for err in form.email.errors %}
                                    <br><span style="color: red; font-size: 80%;">{{ err }}</span>
                                    {% endfor %}
                                </div>
                                <div>{{ form.phone.label }}: </div>
                                <div>{{ form.phone() }}
                                    {% for err in form.phone.errors %}
                                    <br><span style="color: red; font-size: 80%;">{{ err }}</span>
                                    {% endfor %}
                                </div>
                                <div>{{ form.msg.label }}: </div>
                                <div>{{ form.msg(rows='50', cols='100') }}
                                    {% for err in form.msg.errors %}
                                    <br><span style="color: red; font-size: 80%;">{{ err }}</span>
                                    {% endfor %}
                                </div>
                                <br>
                                <div>{{ form.submit }}</div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% include 'footer.html' %}
    </body>
</html>
