{% include 'header.html' %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{img_url}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{title}}</h1>
                            <h2 class="subheading">{{subtitle}}</h2>
                            <span class="meta">
                                Posted by
                                <a target="_blank" href="{{link}}">{{author.name}}</a>
                                on {{date}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>{{body}}</p>
                        <div>
                            <form method="POST" action="{{ url_for('comment', post_id=id) }}">
                                {{ form.csrf_token }}
                                <strong>{{ form.comment.label }}</strong>
                                {{ form.comment(style="height: 100%;") }}
                                {{ form.submit() }}
                            </form><br>
                        </div>
                        {{ mde.preview }}
                        {{ mde.js }}
                        {% if current_user.id == author.id %}
                      <div style="" class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{{ url_for('edit_post', post_id=id) }}">Edit Post</a></div>
                        {% endif %}
                      <div>
                          {% for comment in comments[::-1] %}
                          <ul>
                              <div>
                              <img src="{{ comment.user.email | gravatar }}"/>
                              {{ comment.user.name }}</div>
                              <div>{{ comment.comment }}</div>
                              <div style="font-size: 0.875em;">{{ comment.date_time }}
                                  {% if comment.user_id == current_user.id or comment.post.author.id == current_user.id or current_user.id == 1 %}
                                  <a href="{{ url_for('delete_comment', comment_id=comment.id, post_id=id) }}">🗑️Delete</a>
                              </div>
                                  {% endif %}
                          </ul>
                          {% endfor %}
                      </div>
                    </div>
                </div>
            </div>
        </article>

    {% include 'footer.html' %}

    </body>
</html>
