<!--                            <form method="POST" action="/contact" novalidate>-->
<!--                                {{ form.csrf_token }}-->
<!--                                <div>{{ form.name.label }}: </div>-->
<!--                                <div>{{ form.name(class="css_class") }}-->
<!--                                    {% for err in form.name.errors %}-->
<!--                                    <br><span style="color: red; font-size: 80%;">{{ err }}</span>-->
<!--                                    {% endfor %}-->
<!--                                </div>-->
<!--                                <div>{{ form.email.label }}:</div>-->
<!--                                <div> {{ form.email() }}-->
<!--                                    {% for err in form.email.errors %}-->
<!--                                    <br><span style="color: red; font-size: 80%;">{{ err }}</span>-->
<!--                                    {% endfor %}-->
<!--                                </div>-->
<!--                                <div>{{ form.phone.label }}: </div>-->
<!--                                <div>{{ form.phone() }}-->
<!--                                    {% for err in form.phone.errors %}-->
<!--                                    <br><span style="color: red; font-size: 80%;">{{ err }}</span>-->
<!--                                    {% endfor %}-->
<!--                                </div>-->
<!--                                <div>{{ form.msg.label }}: </div>-->
<!--                                <div>{{ form.msg(rows='50', cols='100') }}-->
<!--                                    {% for err in form.msg.errors %}-->
<!--                                    <br><span style="color: red; font-size: 80%;">{{ err }}</span>-->
<!--                                    {% endfor %}-->
<!--                                </div>-->
<!--                                <br>-->
<!--                                <div>{{ form.submit }}</div>-->
<!--                            </form>-->